mixin search(keyword)
    form(id="form-search")
        .input-group 
            input(
                type ="text"
                placeholder="Nhập từ khóa"
                name="keyword"
                class="form-controll"
                value=keyword
            )
            .input-group-append 
                button(
                    class="btn btn-success ms-1"
                    type="submit"
                ) Tìm